body{
    background-color: rgb(255, 255, 255);
}
:root{
    --marron: rgb(121, 49, 65);
    --gray: rgb(150, 150, 150);
    --black: rgb(0, 0, 0);
}

h1{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 2.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight:bold;
}
h2{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    text-align:center;
    font-weight:bold;
}
h3{
    color:white;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0.5em;
    margin-right: 0;
    font-weight: bold;
}
h4{
    color:white;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0;
    font-weight: bold;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0.5em;
    margin-right: 0;
    font-weight: lighter;
}
.center{
    text-align:center;
}
.marron{
    color: rgb(121, 49, 65);
}
.white{
    color:rgb(255, 255, 255);
}
#divEvents{
    margin: 10px;
}
#seatingArea{
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#back {
    background-color: rgb(121, 49, 65);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    font-size: 1em;
    display: inline-block;
    padding: 5px 15px;
}

#checkOut {
    background-color: rgb(121, 49, 65);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    font-size: 1em;
    display: inline-block;
    padding: 5px 15px;
    margin-left: auto; 
}

#confirmPurchase {
    background-color: rgb(121, 49, 65);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    font-size: 1em;
    display: inline-block;
    padding: 5px 15px;
}
input {
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: lighter;

}
input:focus {
    background-color: rgba(121, 49, 65, 0.223);
}
.header{
    background-color: rgb(121, 49, 65);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.event {
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(121, 49, 65);
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.event:hover {
    background-color: rgb(154, 63, 83);
}
.seat-row {
    display: flex;          
    margin-bottom: 5px;   
}
.seatingArea {
    flex-wrap: wrap; 
    justify-content: center; /* Ensures proper alignment */
    align-items: center; /* Centers items vertically */
    width: 100%;
}
.empty-seat, .selected-seat, .occupied-seat, .available-seat, .stage-seat {
    flex: 1;
    aspect-ratio: 1 / 1;
    margin-right: 5px;      
    padding: 5px;         
    min-width: 20px;
    min-height: 20px;   
    max-width: 50px;
    max-height: 50px;     
    text-align: center;  
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */   
    border: 1px solid #000; 
}
.selected-seat{
    background-color: rgb(0, 53, 0);
}
.available-seat{
    background-color: #4caf50;
}
.occupied-seat{
    background-color: #ba0000;
}
.stage-seat{
    background-color: black;
}
.seat:hover {
    background-color:#5acd5e;
}

.empty-seat {
    background-color: #eee; 
}
