body{
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    /* makes gird resize with different seat amount */
    gap: 10px;
    width: 1500px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}