body{
    background-color: rgb(121, 49, 65);
}
:root{
    --marron: rgb(121, 49, 65);
    --gray: rgb(150, 150, 150);
    --black: rgb(0, 0, 0);
}

h1{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 2.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight:bold;
}
h2{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    text-align:center;
    font-weight:bold;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0.5em;
    margin-right: 0;
    font-weight: bold;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0;
    font-weight: bold;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0.5em;
    margin-right: 0;
    font-weight: lighter;
}
.center{
    text-align:center;
}
.marron{
    color: rgb(121, 49, 65);
}
.white{
    color:rgb(255, 255, 255);
}

.divParty{
    background-color: gray;
    margin: 10px;
    padding: 10px;
}

.header{
    background-color: rgb(121, 49, 65);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.event {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #a10000;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

.event:hover {
    background-color: #ba0000;
}
.seat-row {
    display: flex;          /* Makes seats align horizontally */
    margin-bottom: 5px;    /* Adds space between rows */
}

.empty-seat, .selected-seat, .occupied-seat, .available-seat, .stage-seat {
    margin-right: 5px;      /* Space between seats */
    padding: 5px;          /* Padding inside seats */
    min-width: 40px;        /* Ensures consistent width */
    max-width: 40px;
    min-height: 30px;        /* Ensures consistent width */
    max-height: 30px;
    text-align: center;     /* Centers seat text */
    border: 1px solid #000; /* Adds borders around seats */
}
.selected-seat{
    background-color: rgb(0, 53, 0);
}
.available-seat{
    background-color: #4caf50;
}
.occupied-seat{
    background-color: #ba0000;
}
.stage-seat{
    background-color: black;
}
.seat:hover {
    background-color:#5acd5e;
}

.empty-seat {
    background-color: #eee; 
}
