* { user-select: none; }
#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    /* makes gird resize with different seat amount */
    gap: 10px;
    width: 1500px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.grid-item {
    width: 100%; 
    padding-top: 100%; 
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    position: relative; 
    margin: 2.5px;
}

.grid-item:hover {
    background-color: rgb(251, 251, 251);
    cursor: pointer;
}

body{
    background-color: #793140;
    text-align: center;
    color: white
}

.event {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 1rem;
}

.event:hover {
    background-color: #ba0000;
}

.click a {
    display: inline-block;
    text-decoration: none;
    color: rgb(166, 63, 63);
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 500px;
    transition: background-color 0.3s;
}

.click a:hover {
    background-color: #8a3535;
}

.click h2 {
    margin: 0;
    font-size: 20px;
}

.ds-selected {
    outline: 3px solid black;
    outline-offset: 3px;
    color: black;
    font-weight: bold;
  }